<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'>
    <style>
        .form-group {
            margin-bottom: 1rem;
        }

        label {
            font-size: 1.25rem;
        }

        .sensor-group {
            border: 1px solid #dee2e6;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .sensor-group h2 {
            margin-bottom: 20px;
        }
    </style>
    <title>Bootstrap Form</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">VigilOffice</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Manage Devices
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/devices/">All devices</a></li>
                            {{#types}}
                            <li><a class="dropdown-item" href="/devices/{{.}}s/">{{.}}s</a></li>
                            {{/types}}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alarm/">Manage Alarm</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='container py-5'>
        <h1 class='mb-5 text-center'>Hvac {{hvac.macAddress}}</h1>
        <p class="lead">Last update: {{hvac.lastUpdateString}}</p>
        <form id='myForm' class='mx-auto'>
            <input type='hidden' value='{{hvac.macAddress}}' name='macAddress' id='macAddress'>
            <input type='hidden' value='{{hvac.id}}' name='id' id='id'>
            <input type='hidden' value='{{hvac.flameSensor.value}}' name='flameValue' id='flameValue'>
            <input type='hidden' value='{{hvac.tempSensor.tempValue}}' name='tempValue' id='tempValue'>
            <input type='hidden' value='{{hvac.tempSensor.humValue}}' name='humValue' id='humValue'>
            <input type="hidden" value="{{hvac.lastUpdate}}" name="lastUpdate" id="lastUpdate">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='sensor-group'>
                        <h2>Flame Sensor</h2>
                        <!-- Flame Sensor fields -->
                        <div class='form-group'>
                            <label for='flameIntervalSlider'>Flame reading interval</label>
                            <span id='flameIntervalSlider' class='d-block text-muted mb-2'>Current:
                                {{hvac.flameSensor.interval}}</span>
                            <input type='range' class='form-control-range mb-3' id='flameIntervalSlider'
                                name='flameIntervalSlider' min='1000' max='60000' step='250'
                                value='{{hvac.flameSensor.interval}}'>
                            <input type='number' class='form-control' id='flameIntervalSliderInput'
                                name='flameIntervalSliderInput' min='1000' max='60000' step='250'
                                value='{{hvac.flameSensor.interval}}'>
                            <div class='invalid-feedback'>Please adjust the slider within the range of 1000 to 60000.
                            </div>
                        </div>
                        <div class='form-group'>
                            <label>Status</label>
                            <div class='form-check'>
                                <input class='form-check-input' type='radio' name='flameStatus' id='flameEnabled'
                                    value='true' {{#flameIsEnabled}} checked {{/flameIsEnabled}}>
                                <label class='form-check-label' for='flameEnabled'>Enabled</label>
                            </div>
                            <div class='form-check'>
                                <input class='form-check-input' type='radio' name='flameStatus' id='flameDisabled'
                                    value='false' {{^flameIsEnabled}} checked {{/flameIsEnabled}}>
                                <label class='form-check-label' for='flameDisabled'>Disabled</label>
                            </div>
                            <div class='invalid-feedback'>Please select a status.</div>
                        </div>
                        <div class='form-group'>
                            <label for='flameDropdown'>Flame state</label>
                            <select class='form-control' id='flameDropdown' name='flameDropdown'>
                                <option value='0' {{#flameStatus0}} selected {{/flameStatus0}}>PRESENT</option>
                                <option value='1' {{#flameStatus1}} selected {{/flameStatus1}}>ABSENT</option>
                            </select>
                            <div class='invalid-feedback'>Please select a choice from the dropdown.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class='sensor-group'>
                        <h2>Temperature Sensor</h2>
                        <!-- Temperature Sensor fields -->
                        <div class="row">
                            <div class='col-8 col-sm-6'>

                                <div class='form-group'>
                                    <label for='tempLowThresholdSlider'>Low temperature threshold</label>
                                    <span id='tempLowThresholdSliderValue' class='d-block text-muted mb-2'>Current:
                                        {{hvac.tempSensor.tempValue}} / {{hvac.tempSensor.lowThreshold}}</span>
                                    <input type='range' class='form-control-range mb-3' id='tempLowThresholdSlider'
                                        name='tempLowThresholdSlider' min='15' max='40'
                                        value='{{hvac.tempSensor.lowThreshold}}'>
                                    <input type='number' class='form-control' id='tempLowThresholdSliderInput'
                                        name='tempLowThresholdSliderInput' min='15' max='40'
                                        value='{{hvac.tempSensor.lowThreshold}}'>
                                    <div class='invalid-feedback'>Please adjust the slider within the range of 15 to 40.
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label for='tempHighThresholdSlider'>High temperature threshold</label>
                                    <span id='tempHighThresholdSliderValue' class='d-block text-muted mb-2'>Current:
                                        {{hvac.tempSensor.tempValue}} / {{hvac.tempSensor.highThreshold}}</span>
                                    <input type='range' class='form-control-range mb-3' id='tempHighThresholdSlider'
                                        name='tempHighThresholdSlider' min='15' max='40'
                                        value='{{hvac.tempSensor.highThreshold}}'>
                                    <input type='number' class='form-control' id='tempHighThresholdSliderInput'
                                        name='tempHighThresholdSliderInput' min='15' max='40'
                                        value='{{hvac.tempSensor.highThreshold}}'>
                                    <div class='invalid-feedback'>Please adjust the slider within the range of 15 to 40.
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label for='tempTargetSlider'>Target temperature</label>
                                    <span id='tempTargetSliderValue' class='d-block text-muted mb-2'>Current:
                                        {{hvac.tempSensor.tempValue}} / {{hvac.tempSensor.target}}</span>
                                    <input type='range' class='form-control-range mb-3' id='tempTargetSlider'
                                        name='tempTargetSlider' min='15' max='40' value='{{hvac.tempSensor.target}}'>
                                    <input type='number' class='form-control' id='tempTargetSliderInput'
                                        name='tempTargetSliderInput' min='15' max='40'
                                        value='{{hvac.tempSensor.target}}'>
                                    <div class='invalid-feedback'>Please adjust the slider within the range of 15 to 40.
                                    </div>
                                </div>
                            </div>
                            <div class='col-8 col-sm-6'>
                                <div class='form-group'>
                                    <label for='tempIntervalSlider'>Temperature reading interval</label>
                                    <span id='tempIntervalSliderValue' class='d-block text-muted mb-2'>Current:
                                        {{hvac.tempSensor.interval}}</span>
                                    <input type='range' class='form-control-range mb-3' id='tempIntervalSlider'
                                        name='tempIntervalSlider' min='1000' max='60000' step='250'
                                        value='{{hvac.tempSensor.interval}}'>
                                    <input type='number' class='form-control' id='tempIntervalSliderInput'
                                        name='tempIntervalSliderInput' min='1000' max='60000' step='250'
                                        value='{{hvac.tempSensor.interval}}'>
                                    <div class='invalid-feedback'>Please adjust the slider within the range of 1000 to
                                        60000.
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label>Status</label>
                                    <div class='form-check'>
                                        <input class='form-check-input' type='radio' name='tempStatus' id='tempEnabled'
                                            value='true' {{#tempIsEnabled}} checked {{/tempIsEnabled}}>
                                        <label class='form-check-label' for='tempEnabled'>Enabled</label>
                                    </div>
                                    <div class='form-check'>
                                        <input class='form-check-input' type='radio' name='tempStatus' id='tempDisabled'
                                            value='false' {{^tempIsEnabled}} checked {{/tempIsEnabled}}>
                                        <label class='form-check-label' for='tempDisabled'>Disabled</label>
                                    </div>
                                    <div class='invalid-feedback'>Please select a status.</div>
                                </div>
                                <div class='form-group'>
                                    <label for='tempDropdown'>State</label>
                                    <select class='form-control' id='tempDropdown' name='tempDropdown'>
                                        <option value='0' {{#tempStatus0}} selected {{/tempStatus0}}>NORMAL TEMPERATURE
                                        </option>
                                        <option value='1' {{#tempStatus1}} selected {{/tempStatus1}}>LOW TEMPERATURE
                                        </option>
                                        <option value='2' {{#tempStatus2}} selected {{/tempStatus2}}>HIGH TEMPERATURE
                                        </option>
                                    </select>
                                    <div class='invalid-feedback'>Please select a choice from the dropdown.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='sensor-group'>
                        <h2>RGB LED</h2>
                        <!-- RGB LED fields -->
                        <div class='form-group'>
                            <label>Status</label>
                            <div class='form-check'>
                                <input class='form-check-input' type='radio' name='ventStatus' id='ventEnabled'
                                    value='true' {{#ventIsEnabled}} checked {{/ventIsEnabled}}>
                                <label class='form-check-label' for='ventEnabled'>Enabled</label>
                            </div>
                            <div class='form-check'>
                                <input class='form-check-input' type='radio' name='ventStatus' id='ventDisabled'
                                    value='false' {{^ventIsEnabled}} checked {{/ventIsEnabled}}>
                                <label class='form-check-label' for='ventDisabled'>Disabled</label>
                            </div>
                            <div class='invalid-feedback'>Please select a status.</div>
                        </div>
                    </div>
                    <div class='sensor-group'>
                        <h2>ALARM</h2>
                        <!-- ALARM fields -->
                        <div class='form-group'>
                            <label>The alarm is:</label>
                            <div class='form-check'>
                                <input class='form-check-input' type='radio' name='alarmStatus' id='alarmEnabled'
                                    value='true' {{#alarmIsEnabled}} checked {{/alarmIsEnabled}}>
                                <label class='form-check-label' for='alarmEnabled'>Enabled</label>
                            </div>
                            <div class='form-check'>
                                <input class='form-check-input' type='radio' name='alarmStatus' id='alarmDisabled'
                                    value='false' {{^alarmIsEnabled}} checked {{/alarmIsEnabled}}>
                                <label class='form-check-label' for='alarmDisabled'>Disabled</label>
                            </div>
                            <div class='invalid-feedback'>Please select a status.</div>
                        </div>
                        <div class='form-group'>
                            <label for='alarmDropdown'>State</label>
                            <select class='form-control' id='alarmDropdown' name='alarmDropdown'>
                                <option value='true' {{#alarmIsActive}} selected {{/alarmIsActive}}>ACTIVE</option>
                                <option value='false' {{^alarmIsActive}} selected {{/alarmIsActive}}>STANDBY</option>
                            </select>
                            <div class='invalid-feedback'>Please select a choice from the dropdown.</div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <button type='submit' class='btn btn-primary btn-block'>Submit</button>
                </div>
            </div>
        </form>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
        crossorigin='anonymous'></script>
    <script>
        $(document).ready(function () {
            $('#tempTargetSlider, #tempTargetSliderInput').on('input', function () {
                var value = this.value;
                $('#' + this.id + 'Value').html('Current: {{hvac.tempSensor.tempValue}} / ' + value);
                $('#' + this.id).val(value);
                $('#' + this.id + 'Input').val(value);
            });
            $('#tempLowThresholdSlider, #tempLowThresholdSliderInput').on('input', function () {
                var value = this.value;
                $('#' + this.id + 'Value').html('Current: {{hvac.tempSensor.tempValue}} / ' + value);
                $('#' + this.id).val(value);
                $('#' + this.id + 'Input').val(value);
            });
            $('#tempHighThresholdSlider, #tempHighThresholdSliderInput').on('input', function () {
                var value = this.value;
                $('#' + this.id + 'Value').html('Current: {{hvac.tempSensor.tempValue}} / ' + value);
                $('#' + this.id).val(value);
                $('#' + this.id + 'Input').val(value);
            });
            $('#tempIntervalSlider, #tempIntervalSliderInput').on('input', function () {
                var value = this.value;
                $('#' + this.id).val(value);
                $('#' + this.id + 'Input').val(value);
            });
            $('#flameIntervalSlider, #flameIntervalSliderInput').on('input', function () {
                var value = this.value;
                $('#' + this.id).val(value);
                $('#' + this.id + 'Input').val(value);
            });
            $('#myForm').on('submit', function (e) {
                e.preventDefault();
                var sliderValues = ['tempTargetSliderInput'];
                sliderValues.forEach(function (sliderValue) {
                    var value = $('#' + sliderValue).val();
                    if (value < 0 || value > 1000) {
                        $('#' + sliderValue).addClass('is-invalid');
                    } else {
                        $('#' + sliderValue).removeClass('is-invalid');
                    }
                });
                var radioValues = ['flameStatus', 'tempStatus', 'ventStatus', 'alarmStatus'];
                radioValues.forEach(function (radioValue) {
                    if (!$('input[name="' + radioValue + '"]:checked').val()) {
                        $('input[name="' + radioValue + '"]').addClass('is-invalid');
                    } else {
                        $('input[name="' + radioValue + '"]').removeClass('is-invalid');
                    }
                });
                var dropdDownValues = ['flameDropdown', 'tempDropdown', 'alarmDropdown'];
                dropdDownValues.forEach(function (dropdown) {
                    if ($('#' + dropdown).val() == '') {
                        $('#' + dropdown).addClass('is-invalid');
                    } else {
                        $('#' + dropdown).removeClass('is-invalid');
                    }
                });
                if (!$('.is-invalid').length) {
                    $.ajax({
                        url: window.location.toString(),
                        dataType: 'html',
                        type: 'post',
                        contentType: 'application/x-www-form-urlencoded',
                        data: $('#myForm').serialize(),
                        processData: false,
                        success: function (data, textStatus, jQxhr) {
                            if (!alert('The new configuration has been sent to the device.')) { window.location.reload(); }
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            alert('Error: ' + textStatus + '. ' + errorThrown);
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>